<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
  xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
  xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <gazebo>
    <plugin filename="libgz_ros2_control-system.so"
      name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find youbot_description)/controller/ros2_controllers.yaml</parameters>
    </plugin>
  </gazebo>

  <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
    <parameters>$(find youbot_description)/controller/ros2_controllers.yaml</parameters>
  </plugin>

  <ros2_control name="gazebo_ros_controller" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <joint name="arm_joint_1">
      <command_interface name="position" />
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="arm_joint_2">
      <command_interface name="position" />
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="arm_joint_3">
      <command_interface name="position" />
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="arm_joint_4">
      <command_interface name="position" />
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="arm_joint_5">
      <command_interface name="position" />
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
  </ros2_control>

</robot>